<div ng-show="user.connected" ng-controller="MainCtrl">
    <ng-fb-user-info></ng-fb-user-info>
    <ng-fb-pages></ng-fb-pages>

    <ng-fb-insight 
        api="overview",
        page="page.id" 
        parser="text" 
        ng-show="page.id"></ng-fb-insight>

    <h1 ng-show="page.id">Page and Post Stories and "People talking about this"</h1>

     <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="page_stories",
        period="day"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <h1 ng-show="page.id">Page Impressions</h1>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="page_impressions_unique",
        period="day"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="page_impressions_paid_unique",
        period="day"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="page_impressions_organic_unique",
        period="day"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="page_impressions_viral_unique",
        period="day"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <h1 ng-show="page.id">Page User Demographics</h1>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="page_fans",
        period="lifetime"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="geomap" 
        api="page_fans_locale",
        period="lifetime"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="map" 
        api="page_fans_city",
        period="lifetime"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="geomap" 
        api="page_fans_country",
        period="lifetime"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <h1 ng-show="page.id">Page User Demographics</h1>

    <ng-fb-insight 
        page="page.id" 
        parser="genderBreakdown" 
        api="page_fans_gender_age",
        period="lifetime"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <h1 ng-show="page.id">Page Engagement</h1>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="page_engaged_users",
        period="week"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="page_consumptions",
        period="week"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="page_places_checkin_total",
        period="week"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="page_places_checkin_mobile",
        period="week"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="genderBreakdown" 
        api="page_places_checkins_by_age_gender",
        period="week"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="feedbackBreakdown" 
        api="page_positive_feedback_by_type",
        period="day"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="page_negative_feedback",
        period="day"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="hourlyLine" 
        api="page_fans_online",
        period="day"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <h1 ng-show="page.id">Page Views</h1>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="page_views",
        period="day"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="page_views_unique",
        period="day"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="page_views_login",
        period="day"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="page_views_login_unique",
        period="day"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="page_views_logout",
        period="day"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <h1 ng-show="page.id">Page Posts</h1>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="page_posts_impressions_unique",
        period="day"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="page_posts_impressions_paid_unique",
        period="day"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="page_posts_impressions_organic_unique",
        period="day"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="page_posts_impressions_viral_unique",
        period="day"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <h1 ng-show="page.id">Domain Content</h1>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="domain_feed_clicks",
        period="day"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="domain_feed_views",
        period="day"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="domain_stories",
        period="day"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="domain_widget_comments_adds",
        period="day"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="domain_widget_comments_views",
        period="day"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="domain_widget_comments_feed_views",
        period="day"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="domain_widget_comments_feed_clicks",
        period="day"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="domain_widget_like_views",
        period="day"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="domain_widget_likes",
        period="day"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="domain_widget_like_feed_views",
        period="day"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="domain_widget_like_feed_clicks",
        period="day"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="domain_widget_send_views",
        period="day"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="domain_widget_send_inbox_views",
        period="day"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <ng-fb-insight 
        page="page.id" 
        parser="dailyLine" 
        api="domain_widget_send_inbox_clicks",
        period="day"
        token="user.accessToken"
        ng-show="page.id"></ng-fb-insight>

    <!--ng-fb-insight-overview ng-show="page.id"></ng-fb-insight-overview>
    <ng-fb-insight-fans-country ng-show="page.id"></ng-fb-insight-fans-country>
    <ng-fb-insight-fans-demographic ng-if="page.id"></ng-fb-insight-impressions-country>
    <ng-fb-insight-fans-online ng-if="pageId"></ng-fb-insight-impressions-country>
    <ng-fb-insight-today-stats ng-if="pageId"></ng-fb-insight-today-stats>
    <ng-fb-insight-negative-feedbacks ng-if="pageId"></ng-fb-insight-negative-feedbacks>
    <ng-fb-insight-roi ng-if="pageId"></ng-fb-insight-roi>
    <ng-fb-insight-reach ng-if="pageId"></ng-fb-insight-reach>
    <ng-fb-insight-likes-source ng-if="pageId"></ng-fb-insight-likes-source>
    <ng-fb-insight-views-source ng-if="pageId"></ng-fb-insight-views-source>
    <ng-fb-insight-referals ng-if="pageId"></ng-fb-insight-referals>
    <ng-fb-insight-stories-positive-feedback ng-if="pageId"></ng-fb-insight-stories-positive-feedback>
    <ng-fb-insight-stories-talking-about ng-if="pageId"></ng-fb-insight-stories-talking-about>
    <ng-fb-insight-stories-interaction ng-if="pageId"></ng-fb-insight-stories-interaction-->
</div> 

<footer>
  <div class="twitter">
    <div class="avatar"></div>
    <div>
      <a href="https://twitter.com/bahaaldine">by @bahaaldine with <span class="fa fa-heart"></span></a>
    </div>
  </div>
  <div class="github">
    <div class="icon fa fa-github"></div>
    <div><a href="https://github.com/bahaaldine/ngFontChart">View on Github</a></div>
  </div>
</footer>