<div ng-controller="postCtrl">
    <ng-fb-pages token="token"></ng-fb-pages>
    
    <div class="post-insights overview"><div>
      
      <div class="insight-column left">
        <div ng-fb-post-details class="post-details" token="token" post-id="postId"></div>
        
        <div class="post-insight post-insight-metric">
          <div ng-fb-insight ng-show="interestRate"
            data="interestRate"
            template="gauge"
            label="insights.impressions.total"></div>
        </div>

        <div class="post-insight post-insight-metric">
          <div ng-fb-insight ng-show="viralityRate"
            data="viralityRate"
            template="gauge"
            label="insights.impressions.total"></div>
        </div>
      </div>

      <div class="insight-column right">
        <div class="post-insight post-insight-metric">
          <div ng-fb-insight ng-show="reach"
            data="reach"
            template="reach"
            label="insights.reach"></div>
        </div>
        <div class="post-insight post-insight-metric">
          <div ng-fb-insight ng-show="engagementRate"
            data="engagementRate"
            template="gauge"
            label="insights.impressions.total"></div>
        </div>
        <div class="post-insight post-insight-metric">
          <div ng-fb-insight ng-show="impressions"
            data="impressions"
            template="pie"
            label="insights.impressions.total"></div>
        </div>
        <div class="post-insight post-insight-metric">
          <div ng-fb-insight ng-show="storyTellers"
            data="storyTellers"
            template="bar"
            label="insights.impressions.total"></div>
        </div>
        <div class="post-insight post-insight-metric">
          <div ng-fb-insight ng-show="conversionRate"
            data="conversionRate"
            template="gauge"
            label="insights.impressions.total"></div>
        </div>
        
      </div>

    </div></div>

</div> 

<footer>
  <div class="twitter">
    <div class="avatar"></div>
    <div>
      <a href="https://twitter.com/bahaaldine">by @bahaaldine with <span class="fa fa-heart"></span></a>
    </div>
  </div>
  <div class="github">
    <div class="icon fa fa-github"></div>
    <div><a href="https://github.com/bahaaldine/ngFontChart">View on Github</a></div>
  </div>
</footer>