<section id="fans" ng-show="fans"> 
          <div class="main-inner">
              <div class="container">
                  <div class="row">
                      <div class="span6" >
                          <div class="widget">
                              <div class="widget-header">
                                  <i class="icon-bar-chart"></i>
                                  <h3>Fans'Online Activity</h3> 
                              </div>
                                <div class="widget-content" style="width: 538px;height:450px;">
                                    <p style="font-size:11px;">Number of your Page fans broken down by when they are online </p>
                                <nvd3-discrete-bar-chart
                                    data="fans.fanonlinedata"
                                      id="fan_online_data_id"
                                      showXAxis="true"
                                      showYAxis="true"
                                      width="580"
                                      height="405"
                                      interactive="true"
                                      showControls="true"   
                                      tooltips="true">
                                  </nvd3-discrete-bar-chart>                                  
                                </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
</section>