<section id="stories" ng-show="stories">
       <div class="container">
        <div class="span4"  style=" width:360px;">
          <div class="widget">
            <div class="widget-header"> <i class="icon-plus-sign"></i>
              <h3>Positive Feedback</h3>
            </div>
            <div class="widget-content"  style=" height:350px;">
                <nvd3-discrete-bar-chart
                    data="stories.positivefeedbackdata"
                      id="data_positive_feedback_id"
                      showXAxis="true"
                      showYAxis="true"
                      tooltips="true"                      
                      width="380"
                      height="380"
                      showValues="true"
                      interactive="true"
                      useInteractiveGuideline="true">
                  </nvd3-discrete-bar-chart>
            </div>
          </div>
        </div> 
      </div>
</section>