<section id="roi" ng-show="roi">
      <div class="container">
      <div class="main-inner">
          <div class="container">
           <div class="row">
              <div class="span12">
                          <div class="widget-header"> <i class=" icon-beaker "></i>
                <h3>This month...</h3>
              </div>
              <div class="info-box"  style=" height:400px;">
                 <div class="row-fluid stats-box">
                    <div class="span4">
                      <div class="stats-box-title">Page Impressions Rate</div>
                      <div class="stats-box-all-info"><i class="icon-fire" style="color:#3366cc;"></i>{{roi.impressionrate}}%</div>
                      <div class="wrap-chart"><div id="visitor-stat" class="chart">Seen impressions rate of any content associated with your Page through this month</div></div>
                      </div>
                      <div class="span4">
                      <div class="stats-box-title">Page Reach Ratio</div>
                      <div class="stats-box-all-info"><i class="icon-magic" style="color:#3366cc;"></i>{{roi.reachrate}}</div>
                      <div class="wrap-chart"><div id="visitor-stat" class="chart">Number of people your Page reached regarding your Page's fan-base</div></div>
                      
                      </div>
                    <div class="span4">
                      <div class="stats-box-title">Engagement Rate</div>
                      <div class="stats-box-all-info"><i class="icon-magnet"  style="color:#3366cc;"></i>{{roi.engagementrate}}%</div>
                      <div class="wrap-chart"><div id="visitor-stat" class="chart">Users engagement rate regarding your Page's fan-base</div></div>
                    </div>

                    </div>
                 </div>  
               </div>   
           </div>
           </div>      
          </div> 
</section> 