<section id="reach" ng-show="reach">
            <div class="main-inner">           
                <div class="span5">
                    <div class="widget-header"> <i class="icon-list"></i>
                      <h3>Reach Impressions By Type</h3>
                    </div>
                    <div class="info-box"  style=" height:455px;"> 
                        <div class="row-fluid stats-box">

                            <div class="stats-box-title">Organic Impressions</div>
                            <div class="stats-box-all-info"><i class="icon-cogs" style="color:#F30;"></i>{{reach.organicdata}}<p style="font-size:10px;">Number of people who visited your Page, or saw one of its posts in news feed or ticker</p></div>
                      
                            <div class="stats-box-title">Paid Impressions</div>
                            <div class="stats-box-all-info"><i class="icon-money" style="color:#3C3"></i>{{reach.paiddata}}<p style="font-size:10px;">Number of impressions of a Sponsored Story or Ad pointing to your Page</p></div>
                      
                            <div class="stats-box-title">Viral Impressions</div>
                            <div class="stats-box-all-info"><i class="icon-comments-alt" style="color:#3366cc;"></i>  {{reach.viraldata}}<p style="font-size:10px;">Number of people who saw your Page or any of its posts from a story shared by a friend</p></div>
                        </div>
                      </div>
                    </div>

          <div class="span8">
          <div class="widget">
            <div class="widget-header"> <i class="icon-retweet"></i>
              <h3>Reach Evolution</h3>
            </div>
            <div class="widget-content"  style=" height:420px;">
            <nvd3-stacked-area-chart
                data="reach.reachevolutiondata"
                  id="reach_id"
                  showXAxis="true"
                  showYAxis="true"
                    width="720"
                  height="400"
                  showLegend="true"
                  showControls="true"   
                  xAxisTickFormat="reach.xAxisTickFormatFunction()"     
                  useInteractiveGuideline="true"        
                  interactive="true"
                  tooltips="true"
                  labelType="value">
            </nvd3-stacked-area-chart>    
           </div>            
          </div>
        </div>
        </div> 
</section>