<section id="stories" ng-show="stories">
       <div class="container">        
        <div class="span4" style=" width:360px;">
          <div class="widget">
            <div class="widget-header"> <i class="icon-sitemap"></i>
              <h3>People Interaction</h3>
            </div>
            <div class="widget-content"  style=" height:350px;">
                <nvd3-stacked-area-chart
                    data="stories.interactiondata"
                      id="data_interaction_id"
                      showXAxis="true"
                      showYAxis="true"
                      width="330"
                      height="350"
                      xAxisTickFormat="stories.xAxisTickFormatFunction()"  
                      useInteractiveGuideline="true"        
                      interactive="true"
                      tooltips="true"
                      labelType="value">
                  </nvd3-stacked-area-chart>
            </div>
          </div>
        </div>
      </div>
</section>