<section id="geographics" ng-show="geographics">
          <div class="main-inner">
              <div class="container">
                  <div class="row">
                      <div class="span6">
                          <div class="widget">
                              <div class="widget-header">
                                  <i class="icon-bar-chart"></i>
                                  <h3>Countries</h3>
                              </div>
                                <div class="widget-content" style="width: 538px; height: 410px;">
                                  <div google-chart="geochart" ng-model="mapdata" id="chart_div"></div>
                             </div>
                          </div>
                      </div>
                      <div class="span6">

                          <div class="widget">
                              <div class="widget-header">
                                  <i class="icon-bar-chart"></i>
                                  <h3>Languages</h3> 
                              </div>
                               <div class="widget-content" style="width: 538px; height: 410px;">
                                <p style="font-size:11px;">Languages spoken by your Page fans </p>
                                  <nvd3-pie-chart
                                   data="geographics.languagedata"
                                   id="language_data_id"
                                   height="400"
                                   width="600"                                   
                                   x="geographics.xFunction()"
                                   y="geographics.yFunction()"
                                   donut="true"
                                   showLegend="true" 
                                   tooltips="true"  
                                   labelType="value" > 
                                  </nvd3-pie-chart>
                              </div> 
                      </div>
                  </div>
              </div>
          </div>
</section>