<section id="sources" ng-show="sources"> 
         <div class="container">
        <div class="span5" style=" width:550px;">
          <div class="widget">
            <div class="widget-header"> <i class="icon-thumbs-up"></i>
              <h3>Like Sources</h3>
            </div>
            <div class="widget-content"  style=" height:400px;">
                  <p style="font-size:10px;">Number of people who liked your Page today, broken down by the most common places where people can like your Page</p>
                <nvd3-discrete-bar-chart
                    data="sources.likesources"
                      id="data_like_sources_id"
                      showControls="true"   
                      tooltips="true"
                      showLegend="true"
                      showXAxis="true"
                      showYAxis="true"
                      interactive="true"
                      width="580"
                      height="350"
                      showValues="true">
                  </nvd3-discrete-bar-chart>                  
            </div>
          </div>
        </div>         
      </div>
</section>