<div class="fb-insight" ng-class="api">
  <h1>{{title}}</h1>
  <div class="fb-insight-info">
    <div class="fb-insight-label" lng="text:label.logo"></div>
    <div class="fb-insight-image"><img src="https://graph.facebook.com/{{data.id}}/picture"></div>
  </div>

  <div class="fb-insight-info">
    <div class="fb-insight-label" lng="text:label.cover"></div>
    <div class="fb-insight-image"><img src="{{data.cover.source}}"></img></div>
  </div>

  <div class="fb-insight-info">
    <div class="fb-insight-label" lng="text:label.name"></div>
    <div class="fb-insight-value">{{data.name}}</div>
  </div>

  <div class="fb-insight-info">
    <div class="fb-insight-label" lng="text:label.about"></div>
    <div class="fb-insight-value">{{data.about}}</div>
  </div>

  <div class="fb-insight-info">
    <div class="fb-insight-label" lng="text:label.category"></div>
    <div class="fb-insight-value">{{data.category}}</div>
      <div class="fb-insight-info" ng-repeat="category in overview.category_list">
        <div class="fb-insight-value">{{data.name}}</div>
      </div>
  </div>

  <div class="fb-insight-info">
    <div class="fb-insight-label" lng="text:label.published"></div>
    <div class="fb-insight-value">{{data.is_published}}</div>
  </div>

  <div class="fb-insight-info">
    <div class="fb-insight-label" lng="text:label.likes.count"></div>
    <div class="fb-insight-value">{{data.likes}}</div>
  </div>

  <div class="fb-insight-info">
    <div class="fb-insight-label" lng="text:label.link"></div>
    <div class="fb-insight-value">{{data.link}}</div>
  </div>

  <div class="fb-insight-info">
    <div class="fb-insight-label" lng="text:label.link"></div>
    <div class="fb-insight-value">{{data.link}}</div>
  </div>

  <div class="fb-insight-info">
    <div class="fb-insight-label" lng="text:label.promotion"></div>
    <div class="fb-insight-value">{{data.promotion_eligible}}</div>
  </div>

  <div class="fb-insight-info">
    <div class="fb-insight-label" lng="text:label.likes.new"></div>
    <div class="fb-insight-value">{{data.new_like_count}}</div>
  </div>

  <div class="fb-insight-info">
    <div class="fb-insight-label" lng="text:label.talking"></div>
    <div class="fb-insight-value">{{data.talking_about_count}}</div>
  </div>

  <div class="fb-insight-info">
    <div class="fb-insight-label" lng="text:label.message.unread"></div>
    <div class="fb-insight-value">{{data.unread_message_count}}</div>
  </div>

  <div class="fb-insight-info">
    <div class="fb-insight-label" lng="text:label.message.unseen"></div>
    <div class="fb-insight-value">{{data.unseen_message_count}}</div>
  </div>

  <div class="fb-insight-info">
    <div class="fb-insight-label" lng="text:label.notification.unread"></div>
    <div class="fb-insight-value">{{data.unread_notif_count}}</div>
  </div>

</div>