<div class="ng-fb-post-details" ng-if="post"><div>
	<div class="post-header"><div>
		<div class="page-picture"><img ng-src="http://graph.facebook.com/{{post.page}}/picture"></div>
		<div class="page-name">{{post.company}}</div>
		<div class="post-publish-date">{{post.created}}</div>
	</div></div>

	<div class="post-message"><div>{{post.message}}</div></div>

	<div class="post-description"><div>
		<div class="post-picture"><img ng-src="{{post.picture}}"></img></div>
		<div class="text">
			<div class="post-name">{{post.name}}</div>
			<div class="post-caption">{{post.caption}}</div>
			<div class="post-cta"></div>
		</div>
	</div></div>
	<div class="post-comments">
		<div class="comment" ng-repeat="comment in post.comments.data"><div>
			<div class="picture"><img ng-src="http://graph.facebook.com/{{comment.from.id}}/picture?type=square"></img></div>
			<div class="content">
				<div class="author">{{comment.from.name}}</div>
				<div class="message">{{comment.message}}</div>
				<div class="created">
					<span am-time-ago="comment.created_time"></span> <i class="fa fa-like"></i>{{comment.like_count}}</div>
				<div class="actions"></div>
			</div>
		</div></div>
	</div>
</div></div>